/* Body layout */
header, nav, footer, section, aside, article, figure {
  display: block; }

* {
  margin: 0;
  padding: 0; }
  * a img {
    border: none; }

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  text-align: center;
  background: #000 url('/images/bodyBg.jpg') repeat-x 0 -120px; }

/* Wrap everything in 997px wrapper */
#wrapper {
  background: url('/images/wrapBg.jpg') no-repeat 0 -120px;
  width: 997px;
  min-height: 600px;
  margin: auto; }

/* Header layout */
header {
  background: url('/images/headerBg.jpg') no-repeat;
  width: 997px;
  height: 194px;
  margin: auto;
  text-align: left; }
  header p img {
    margin: 20px 0 0 77px; }

/* Main content layout */
nav {
  width: 840px;
  height: 25px;
  margin: -80px auto 0 auto;
  text-align: left; }
  nav ul {
    display: inline;
    list-style: none; }
    nav ul li {
      float: left;
      width: 163px;
      height: 25px;
      background: url('/images/inactiveTab.png') no-repeat; }
      nav ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        float: left;
        margin-top: 4px;
        text-shadow: #111 1.5px 1.5px 1.5px; }
    nav ul li:hover {
      background: url('/images/hoverTab.png') no-repeat; }
    nav ul li.selected {
      background: url('/images/activeTab.png') no-repeat; }
      nav ul li.selected a {
        color: #333;
        text-shadow: none; }
    nav ul li.selected:hover {
      background: url('/images/activeTab.png') no-repeat; }
    nav ul #home a {
      margin-left: 45px; }
    nav ul #portfolio, nav ul #about, nav ul #contact {
      margin-left: -2px; }
    nav ul #portfolio a {
      margin-left: 35px; }
    nav ul #about a {
      margin-left: 30px; }
    nav ul #contact a {
      margin-left: 18px; }

section {
  background: url('/images/contentBg.png') no-repeat;
  width: 840px;
  height: 313px;
  margin: auto;
  text-align: justify; }
  section #portrait {
    float: right; }
  section h1, section h2 {
    padding: 10px; }
  section article p {
    padding: 10px;
    line-height: 20px; }
  section article a {
    color: #000;
    font-weight: bold; }
    section article a img {
      border: none; }
  section article ul {
    list-style: none;
    padding: 0 10px; }
    section article ul li {
      padding-bottom: 10px; }
  section #resumeLogos {
    padding-top: 10px; }

/* Twitter Feed */
#twitter_div {
  width: 840px;
  height: 80px;
  margin: 50px auto 0 auto;
  text-align: left; }
  #twitter_div .floatLeft {
    float: left;
    margin-right: 10px; }
  #twitter_div #twitter_update_list {
    width: 535px;
    float: left;
    margin-right: 10px; }
    #twitter_div #twitter_update_list li {
      color: #333;
      font-size: 12px; }
      #twitter_div #twitter_update_list li a {
        color: #777; }
  #twitter_div #email {
    float: right; }

.clear {
  clear: both; }

/* Footer */
footer {
  color: #fff;
  font-size: 11px;
  width: 840px;
  margin: auto;
  text-align: center; }
  footer a {
    color: #ddd; }
    footer a img {
      border: none; }


#sliderContainer {
  width: 600px;
  margin: 0 auto;
  text-align: center; }
  #sliderContainer #slider ul, #sliderContainer #slider ul li {
    list-style: none; }
  #sliderContainer #slider, #sliderContainer #slider ul li {
    width: 550px;
    height: 270px;
    overflow: hidden; }
  #sliderContainer #slider ul li img {
    float: right;
    padding-left: 10px; }
  #sliderContainer #slider ul li p {
    text-align: justify; }


/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CC Attribution-No Derivative Works 2.5 Brazil - http://creativecommons.org/licenses/by-nd/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}