%article
  %h1
    About Me
  %p
    My name is Evan Machnic and I am a Web Developer. I hold a bachelor's degree in Information Technology
    with a Computer Science minor from 
    = link_to("Florida State University", :href => "http://www.fsu.edu")
    \. Like many IT majors, I started in Computer Science
    and realized that I wanted to concentrate more on user-centered design than just the basic functionality.
  %p
    A little background on me, I am 26 years old and a newlywed with a two-year-old son. Besides my passion for
    pretty much anything electronic, I also love to cook, and eventually I would like to open a restaurant with my
    wife. When I am not working on my computer or cooking for my family and friends, I love spending time with my
    family and taking my son with me to play frisbee golf. I feel that while work is important, it is just as
    important to find ways to relax and my family time is how I accomplish that.
  %p
    I hope you enjoy my site and please feel free to track me down on
    = link_to("Twitter", :href => "http://twitter.com/emachnic")
    or just drop me an email. Thanks!